* {
    box-sizing: border-box;
    margin: 0;
    top: 0;
}

html,
body {
    overflow-x: hidden;
}

.deco {
    color: var(--bs-gray-500);
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rating p {
    margin: 0.25rem;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.75rem;
}

.buttons a {
    margin: 0.1rem;
}

hr {
    width: 100%;
}

.form-container {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 0.75em;
}

.form-container,
.alert {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group p {
    font-size: 0.75rem;
    margin: 0.25rem;
    color: var(--bs-red);
}

.pagination {
    display: flex;
    flex-direction: row;
}

.pagination a {
    margin: 0.25rem;
}

.pagination span {
    margin: auto;
}

.invalid-feedback {
    width: auto;
    font-size: 0.75rem;
    margin: 0.25rem;
    text-align: center;
}

.form-field {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control-label {
    font-size: 0.75rem;
    text-align: center;
    margin: 0.5rem;
}

.form-btn {
    margin: 0.5rem 0 0 0;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.alert {
    width: 100%;
}

.tohome:hover>h1,
.tohome:active>h1,
.tohome:visited>h1,
.tohome {
    color: var(--bs-body-color);
    text-decoration: none;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 0.75em;
}

.video p {
    font-size: 0.75rem;
}

.video img {
    width: 200px;
    height: auto;
}

.video-thumb {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    align-items: center;
}

.video-container {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.75em;
}

.video-container video {
    width: 100%;
}

.video-container .video-info {
    width = 100%;
    align-items: center;
}

.video-info .rating {
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 1em;
}

@media (min-width:1000px) {
    .content {
        max-width: 1000px;
    }
    .video-data {
        width: 75%;
    }
    .video-thumb {
        width: 25%;
        margin: auto;
    }
    .video {
        width: 75%;
        flex-direction: row;
        align-items: initial;
        padding: 1.5rem;
        text-align: left;
    }
    .video p {
        font-size: 1rem;
    }
    .rating {
        justify-content: inherit;
    }
    .video-container {
        margin: 1.5rem;
    }
    .video-container video {
        width: auto;
        max-width: 75vw;
    }
    .buttons {
        width: 85%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        margin: 0.5rem;
    }
    .invalid-feedback {
        text-align: left;
    }
    .form-container,
    .alert {
        width: 85%;
    }
    .form-field {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .form-group {
        display: flex;
        flex-direction: column;
    }
    .form-control-label {
        text-align: center;
        margin: 0.5rem;
        margin-right: 1rem;
    }
    .form-control {
        width: 70%;
    }
    .form-btn {
        margin: 0.75rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
}