{% extends "template.html" %} {% block content %}
<div class="form-container shadow-lg p-2 m-4 rounded-3">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group d-flex">
            <legend class="border-bottom mb-4">Get access</legend>
            <div class="form-field d-flex align-items-center justify-content-center">
                {{ form.password.label(class="form-control-label") }} {% if form.password.errors %} {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback m-1 w-auto">
                    {% for e in form.password.errors %}
                    <span>{{ e }}</span> {% endfor %}
                </div>
                {% else %} {{ form.password(class="form-control") }} {% endif %}
                <div class="form-btn align-items-start">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}