{% extends 'template.html' %} {% block content %}
<div class="buttons d-flex m-2">
    <a href="{{ url_for('quick') }}" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle me-1"></i>Quick Add
    </a>
    {% if manual_add %}
    <a href="{{ url_for('manual') }}" class="btn btn-warning" role="button">
        <i class="fas fa-plus-circle me-1"></i>Manual Add
    </a>
    {% endif %}
    {% if private %}
        <a href="{{ url_for('logout') }}" class="btn btn-danger" role="button">
            <i class="fas fa-sign-out-alt me-1"></i>Logout
        </a>
    {% endif %}
</div>
{% if data %}

<div class="dropdown">
    <button class="btn btn-light btn-sm dropdown-toggle my-1 px-4 border border-dark" data-bs-toggle="dropdown">
            Sort
        </button>
    <div class="dropdown-menu">
        {% for key in sorts %} {% if current_sort == key %}
        <a class="dropdown-item disabled" href="#">{{key.title().replace("-", " ")}}</a> {% else %}
        <a class="dropdown-item" href="{{url_for('index', page=session['current_page'], sort=key)}}">
                        {{key.title().replace("-", " ")}}
                    </a> {% endif %} {% endfor %}
    </div>
</div>

{% macro pag(data) %}
    {% for n in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if n %} {% if data.page == n %}
    <a class="btn btn-dark disabled m-1" href="{{url_for('index', page=n, sort=session['current_sort'])}}">{{n}}</a>
    {% else %}
    <a class="btn btn-outline-dark m-1" href="{{url_for('index', page=n, sort=session['current_sort'])}}">{{n}}</a>
    {% endif %} {% else %}
    <span class="mt-auto">&mldr;</span> {% endif %} {% endfor %}
{% endmacro %}

{% if form %}
<div class="form-container w-auto shadow p-2 m-3 rounded-3">
    <form action="" method="post">
        {{ form.hidden_tag() }}
       <fieldset class="form-group d-flex">
            <div class="form-field search d-flex align-items-center">
                {{ form.query.label(class="form-control-label") }}
                {% if form.query.errors %} {{ form.query(class="form-control is-invalid") }}
                <div class="invalid-feedback m-1 w-auto">
                    {% for e in form.query.errors %}
                        <span>{{ e }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ form.query(class="form-control") }} {% endif %}
                <div class="form-btn align-items-start">
                    {{ form.submit(class="btn btn-outline-secondary") }}
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endif %}

{% if show_paginator %}
    <div class="pagination">{{ pag(data) }}</div>
{% endif %}

{% for video in data.items %}
<div class="video d-flex rounded-3 shadow-lg">
    <div class="video-data">
        <h3><a href=watch/{{video.id}}>
                {% if video.title|length>75 %}
                    {{video.title[:75]}}...
                {% else %}
                    {{video.title}}
                {% endif %}
            </a></h3>
        {% if video.url %}
        <a href={{video.url}} target="_blank"><i class="fab fa-youtube"></i>&nbsp;Watch on YouTube</a> {% endif %}
        <div class="video-author d-flex align-items-center my-2">
            <img src="data:image;base64,{{video.profile_picture.decode('utf-8')}}" class="pfp mx-2 rounded-circle">
            <p class="my-auto"><span class="text-muted">By</span>&nbsp;<a href={{video.author_url}} target="_blank">{{video.author}}</a></p>
        </div>
        {% if video.description %}
        <p><span class="text-muted">"</span>{% if video.description|length>120 %} {{video.description[:120]}}... {% else %} {{video.description}} {% endif %}<span class="deco">"</span></p>
        {% endif %}
        <p><span class="text-muted">Original upload date:</span> {{video.date[4:6]}}-{{video.date[6:8]}}-{{video.date[0:4]}}
        </p>
        <p><span class="text-muted">Archived views:</span>&nbsp;{{video.views}}</p>
        <p><span class="text-muted">Archived subscribers:</span>&nbsp;{{video.subscribers}}</p>
        <div class="rating d-flex flex-row">
            <p class="m-1"><i class="fas fa-thumbs-up"></i>&nbsp;{{video.likes}}</p>
            <p class="m-1"><i class="fas fa-thumbs-down"></i>&nbsp;{{video.dislikes}}</p>
        </div>
    </div>
    <div class="video-thumb d-flex flex-column m-2 align-items-center my-auto">
        <img src="data:image;base64,{{video.thumbnail.decode('utf-8')}}" /> {% if video.thumbnail_url %}
        <a href="{{video.thumbnail_url}}" target="_blank">Thumbnail source</a> {% endif %}
    </div>
</div>
{% endfor %}
{% if show_paginator %}
    <div class="pagination">{{ pag(data) }}</div>
{% endif %}
{% else %}
<h3 class="text-muted">(No videos yet)</h3>
{% endif %} {% endblock %}