{% extends "template.html" %} {% block content %}
<div class="form-container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Quick add</legend>
            <div class="form-field">
                {{ form.url.label(class="form-control-label") }} {% if form.url.errors %} {{ form.url(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for e in form.url.errors %}
                    <span>{{ e }}</span> {% endfor %}
                </div>
                {% else %} {{ form.url(class="form-control") }} {% endif %}
                <div class="form-btn">
                    {{ form.submit(class="btn btn-outline-success") }}
                </div>
            </div>
            <p>Please note: downloads might take several minutes depending on your bandwidth speed.</p>
        </fieldset>
    </form>
</div>
{% endblock %}