{% extends "template.html" %} {% block content %}
<div class="form-container shadow-lg p-2 m-4 rounded-3">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group d-flex">
            <legend class="border-bottom mb-4">Quick add</legend>
            <div class="form-field d-flex align-items-center justify-content-center">
                {{ form.url.label(class="form-control-label") }} {% if form.url.errors %} {{ form.url(class="form-control is-invalid") }}
                <div class="invalid-feedback m-1 w-auto">
                    {% for e in form.url.errors %}
                    <span>{{ e }}</span> {% endfor %}
                </div>
                {% else %} {{ form.url(class="form-control bg-dark", autofocus="autofocus") }} {% endif %}
                <div class="form-btn align-items-start">
                    {{ form.submit(class="btn btn-outline-success") }}
                </div>
            </div>
            <p class="alert alert-warning fs-6 mx-auto my-2 w-100">
                Downloads might take several minutes depending on the server's speed and traffic.
            </p>
        </fieldset>
    </form>
</div>
{% endblock %}