<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% if title %}
    <title>Almond - {{title}}</title>
    {% else %}
    <title>Almond</title>
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <script src="https://kit.fontawesome.com/2f68bef48f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        {% if home %}
        <h1>Almond</h1>
        {% else %}
        <a href="{{ url_for('index') }}" class="tohome">
            <h1>Almond</h1>
        </a>
        {% endif %} {% if subtitle %}
        <p>{{subtitle}}</p>
        {% else %}
        <p>Video database for archival purposes.</p>
        {% endif %}
        <hr/> {% with msgs = get_flashed_messages(with_categories=true) %} {% if msgs %} {% for category, message in msgs %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</html>